asgiref==3.3.4
beautifulsoup4==4.9.3
blinker==1.4
Brotli==1.0.9
bs4==0.0.1
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==7.1.2
cryptography==3.2.1
Flask==1.1.4
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.2
iso8601==0.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
kaitaistruct==0.9
ldap3==2.8.1
m3u8==0.9.0
MarkupSafe==2.0.1
mitmproxy==8.0.0
msgpack==1.0.2
passlib==1.7.4
protobuf==3.13.0
publicsuffix2==2.20191221
pyasn1==0.4.8
pycparser==2.20
pycryptodome==3.10.1
pydivert==2.1.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyperclip==1.8.2
requests==2.26.0
ruamel.yaml==0.16.13
ruamel.yaml.clib==0.2.6
selenium==3.141.0
six==1.16.0
sortedcontainers==2.2.2
soupsieve==2.2.1
tornado==6.1
typing-extensions==3.10.0.0
urllib3==1.26.6
urwid==2.1.2
Werkzeug==1.0.1
wsproto==0.15.0
zstandard==0.14.1
